*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    background-color: #F3F1EF;
}
img{
    display: block;
    height: auto;
    max-width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    background-color: #fff;
    width: 60%;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}

.section-title{
    color: #562EFF;
    font-size: 24px;
}

/* top player styles */
.top-player{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    margin-top: 25px;
}
.player, .blog{
    display: flex;
    align-items: center;
    gap: 15px;

}
.player img{
    height: 56px;
    width: 56px;
}

hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

/* top blog styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
    margin-top: 25px;
}

.blog img{
    width: 177px;
    height: 117px;
}
.blog-details{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
}

/* latest course styles */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    margin-top: 25px;
}
.course{
    box-shadow: 10px 10px 5px #9F9F9F;
    padding: 12px;
    border-radius: 5px;
}
.course img{
    width: 224px;
    height: 104px;
}
.course-title{
    font-size: 20px;
    margin: 10px 0;
}
.course-instructor{
    color: #ED6B4F;
    font-size: 15px;
}
.course-info{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.fa-star{
    color: #AEAEAE;
}
.fa-star.filled{
    color: #FFC014;

}
.course-duration{
    background-color: #FFE4E8;
    color: #FF4A60;
    padding: 5px;
    border-radius: 15px;
}

@media screen and (max-width: 575px) {
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);   
    }
    .player, .blog{
        flex-direction: column;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .players, .blogs, .courses{
        grid-template-columns: repeat(2, 1fr);  
    }
    
}